// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// ----------------------

#logo {
  position: absolute;
  left: 0.5in;
  top: 0.25in;
  z-index: 9;

  --accent-color: white;

  h2 {
    font: {
      family: brush;
      size: 3em;
    }

    text-shadow: 0 0 20px black;
  }
}

a.uil {
  display: inline-block;
  transition: transform 300ms;

  &:hover {
    text-decoration: none;
    transform: scale(1.2);
  }
}

#logo:hover {
  .menu {
    opacity: 1;
    animation: linear menu-appear 300ms;
  }
}
