.App {
  font-family:  "Montserrat", "Avenir Next", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ----------------------

#logo {
  position: absolute;
  left: 0.5in;
  top: 0.25in;
  z-index: 9;

  --accent-color: white;

  h2 {
    font: {
      family: brush;
      size: 3em;
    }

    text-shadow: 0 0 20px black;
  }
}

a.uil {
  display: inline-block;
  transition: transform 300ms;

  &:hover {
    text-decoration: none;
    transform: scale(1.2);
  }
}

#logo:hover {
  .menu {
    opacity: 1;
    animation: linear menu-appear 300ms;
  }
}
